{% extends 'base.html'%}

{% block navbar %}
    {% include 'base.html' %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          
            <th scope="col">Pairs</th>
            <th scope="col">Total Price</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Men Shoe</td>
            
            <td>1</td>
            <td>KSH2000</td>
            <td><button type="button" class="btn btn-primary">Add Item</button> <button type="button" class="btn btn-danger">Remove Item</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Women Shoe</td>
           
            <td>1</td>
            <td>KSH1500</td>
            <td><button type="button" class="btn btn-primary">Add Item</button> <button type="button" class="btn btn-danger">Remove Item</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Men Shoe</td>
            
            <td>2</td>
            <td>Ksh3800</td>
            <td><button type="button" class="btn btn-primary">Add Item</button> <button type="button" class="btn btn-danger">Remove Item</button></td>
          </tr>
        </tbody>
      </table> 
      

{% endblock %}
    



  

    