{% extends 'base.html'%}

{% block navbar %}
    {% include 'base.html' %}
{% endblock %}

{% block content %}
<br><br>
    <div class="container" >
        <div class="row">
          <div class="col">
            <figure>
              <img src="static/images/boy1.jpeg" alt="" class="rounded-circle" height="500px">
              <figcaption>
                <h3>Welcome to ShoeHub where you get quality shoe at at affordable price.</h3>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <br>
            <form action="/form" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1"> Name...</label>
                <input type="text" class="form-control" placeholder="First Name" name ="first_name"  >
               
              </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address...</label>
                  <input type="email" class="form-control"  placeholder="Email Adress" name ="email" >
                 
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password...</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              <br><br>
              
            </form>
            <a href="#"  class="btn btn-primary">SignUp</a>
            <br><br>
            Already have an account?
             <a href="/login"  class="btn btn-primary">Login</a>
          </div>
        </div>
    </div>
    
{% endblock %}