{% extends 'base.html'%}

{% block navbar %}
    {% include 'base.html' %}
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/men1.jpeg" alt="Card image cap"   height="190px">
                <div class="card-body">

                  <form action="/cart" method="POST" >
                  <button type="button" style=" background-color: gold;">Add to Cart</button>
                </form>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/images/men2.jpeg" alt="Card image cap"   height="190px">
            <div class="card-body">
              
              
              <form action="/cart" method="POST">
              <button type="button" style=" background-color:gold;">Add to Cart</button>
            </form>
            </div>
          </div>
        </div>
          
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/men3.jpeg" alt="Card image cap"   height="190px">
            <div class="card-body">
             
              <form action="/cart" method="POST">
               <button type="button" style=" background-color:gold;">Add to Cart</button>
             </form>
            </div>
          </div>

          </div>
        </div>
        <br>
          <div class="row"> 
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/men4.jpeg" alt="Card image cap"   height="190px">
            <div class="card-body">
             
              <form action="/cart" method="POST">
              <button type="button" style=" background-color:gold;">Add to Cart</button>
            </form>
            </div>
          </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/men5.jpeg" alt="Card image cap"   height="190px">
            <div class="card-body">
             
              <form action="/cart" method="POST">
              <button type="button" style=" background-color:gold;">Add to Cart</button>
              </form>
            </div>
          </div>
          </div>
          
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="static/images/shoe6.jpeg" alt="Card image cap"   height="190px">
            <div class="card-body">
            
              <form action="/cart" method="POST">
              <button type="button" style=" background-color:gold;">Add to Cart</button>
            </form>
            </div>
          </div>
          </div>

        </div>
      </div>

</div>>
    
        




      

{% endblock %}