<header class="l-header" id="header">

    <nav class="nav bd-grid">

        <div class="nav__toggle" id="nav-toggle">
            <i class="bx bxs-grid"></i>
        </div>

        <a href="#" class="nav__logo">Shoe<span>zzz</span></a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <li class="nav__item">
                    <a href="/" class="nav__link active">Home</a>
                </li>

                <li class="nav__item">
                    <a href="" class="nav__link">Babies</a>
                </li>

                <li class="nav__item">
                    <a href="" class="nav__link">Women</a>
                </li>

                <li class="nav__item">
                    <a href="" class="nav__link">Men</a>
                </li>

                <li class="nav__item">
                    <a href="" class="nav__link">Boys</a>
                </li>

            </ul>
        </div>

        <div class="nav__shop">
            <i class="bx bx-shopping-bag"></i>
        </div>
    </nav>
</header>